<head>
	<meta charset="utf-8">
	<title>{{site.title}}</title>
  <meta content="{{ site.title }}" property="og:site_name">
  <meta content="{{ site.title }}" property="og:title">
  <meta content="website" property="og:type">
  <meta content="{{ site.description }}" property="og:description">
  <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.profilepic }}" property="og:image">
  
	<meta name="description" content="{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="">
	
	<meta name="theme-color" content="#263959">
	<meta name="msapplication-navbutton-color" content="#263959">
	<meta name="apple-mobile-web-app-status-bar-style" content="#263959">
	<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/assets/fonts/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/css/style.scss" | prepend: site.baseurl }}">
</head>
