---
layout: default
---
<aside class="sidebar">
  <header>
    <div class="profile">
      <div class="profilepic">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/{{site.profilepic}}" alt="{{site.name}}"></a>
      </div>
      <div class="name">{{site.name}}</div>
      <p>{{site.profileabout}}</p>
      <p>{{site.profilenote}}</p>
      {% for link in site.primarylinks %}
        <li><a target='_blank' href="{{link.url}}">{{link.title}}</a></li>
			{% endfor %}
    </div>
  </header>
  <footer>
    <section class="contact">
      <h3 class="contacttitle">Contact me</h3>
      <ul>
        <li class="github"><a href="http://github.com/{{site.contactgithub}}" target="_blank"><i class="fa fa-github"></i></a></li>
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.contactlinkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li class="email"><a href="mailto:{{site.contactemail}}"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
    </section>
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer>
</aside>
<div class="contentbox clearfix">
  {{ content }}
</div>
